-project ||= project_compact
%tbody
  %tr.project-row{:class => [("pending" if project.approved == nil), ("approved" if project.approved), ("denied" if project.approved == false)]}
    %td.project-row-title
      = link_to project.title, project_path(project), {:class => "title-text"}
      %p.owner-text by #{project.client.company_name}
    %td.project-row-tags
      =render :partial=>"shared/project_tags", :locals => {:project => project}
    %td.project-row-short-description
      %p #{project.short_description}
      %a.popout{:href => "#"}
        More
        %span.callout-body
          %img.callout{:src => '/assets/callout.png'}
          %p 
            %strong Project Purpose:
            #{project.problem}
          %p 
            %strong Specifics:
            #{project.long_description}

    - if user_signed_in?
      %td.project-row-approve-deny
        =render :partial=>"shared/approve_pending_denied", :locals => {:project => project}
