%div{:class=>"container page projects-index"}
  #allow-endless-scroll
  .title-section
    .heading.inline-title= "All Projects"
    - if user_signed_in? and is_client?
      .btn-group#new-proj-btn
        %a.btn.btn-success{href: (new_project_path unless proposals_closed?), disabled: (true if proposals_closed?), title: ("The portal is currently closed to proposals." if proposals_closed?)}
          I'm ready to propose a project!
    .btn-toolbar.right-justify
      .btn-group#proj-tab{"data-toggle" => "buttons-radio"}
        %a.btn.btn-small.active#compact-proj-btn{:href => "#square-proj-view", 'data-toggle' => 'tab'}
          %i.icon-th-large
        %a.btn.btn-small#compact-proj-btn{:href => "#compact-proj-view", 'data-toggle' => 'tab'}
          %i.icon-list
  =render :partial=>"projects/search_form", :locals => {:prev_search => @prev_search}
  %div#filters
    = form_tag projects_filter_path, :id => "filter_form", :method => :get do
      Filter by project type:
      = select_tag "project_type", options_for_select(Project::PROJECT_TYPES), :include_blank => "All"
      Filter by project focus:
      = select_tag "project_focus", options_for_select(Project::SECTORS), :include_blank => "All"
      = submit_tag "Go", :id => "filter_submit"
      = link_to "Reset", '/projects', :style => "padding-left: 10px"

  #proj-content.tab-content
    - if @projects.empty?
      No publicly available projects yet.
    - else
      %div.tab-pane.active#square-proj-view.row
        =render(:partial => 'shared/project_square', :collection => @projects)
      %div.tab-pane#compact-proj-view
        %table
          =render(:partial => 'shared/project_compact', :collection => @projects)
    -will_paginate @projects, :param_name => 'projects_page'