%div.container
  .row-fluid
    .questions
      %h2 Getting Started
    .getting-started
      %h4 1) Customize client application
      %div You can edit questions nonprofit applicants answer when proposing a project specifically to your organization
      %br
      %div.well
        <i><b>Example question:</b> If selected, will a representative of your company be available to meet at two-week intervals with the project team that #{current_rolable.name} assigns to you?</i>
      %br
      %a.btn.btn-primary{:href=>"/questions"} Edit Questions
      %br
      %br
      %h4 2) Invite nonprofits to apply to your organization
      / %div Send potential clients the following unique link to apply to your organization through Project Portal
      %div Ask them to first create an account, and then go to the following link: <a>"http://projectportal.herokuapp.com/projects/new?#{current_rolable.sname}=1"</a>

    .projects
      %div
        %h2 Projects Private To My Organization
        .btn-toolbar{:style => "float: right; margin: 15px"}
          .btn-group#proj-tab{"data-toggle" => "buttons-radio"}
            %a.btn.btn-small#square-proj-btn{:href => "#square-proj-view", 'data-toggle' => 'tab'}
              %i.icon-th-large
            %a.btn.btn-small.active#compact-proj-btn{:href => "#compact-proj-view", 'data-toggle' => 'tab'}
              %i.icon-list
      #proj-content.tab-content
        .btn.btn-secondary{:style => "margin-bottom: 15px"}
          =link_to "Export to CSV", projects_csv_path
        %div#filters
          = form_tag projects_filter_path, :id => "filter_form", :method => :get do
            Filter by project type:
            = select_tag "project_type", options_for_select(Project::PROJECT_TYPES), :include_blank => "All"
            Filter by project focus:
            = select_tag "project_focus", options_for_select(Project::SECTORS), :include_blank => "All"
            = submit_tag "Go", :id => "filter_submit"
            = link_to "Reset", dashboard_path, :style => "padding-left: 10px"
        - if @projects.empty?
          No projects yet!
        - else
          %div.tab-pane#square-proj-view.row
            =render(:partial => 'shared/project_square', :collection => @projects)
          %div.tab-pane.active#compact-proj-view
            %table
              - if user_signed_in?
                - @projects = @projects.approved_projects + @projects.unapproved_projects + @projects.denied_projects
              =render(:partial => 'shared/project_compact', :collection => @projects)